body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}



/*  Navigation Links  -----  */
.nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav_links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}



/*  Featured Section  -----  */
.featured {
    background: #eee;
    padding: 40px 20px;
}

.featured-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.featured-photo {
    width: clamp(150px, 24vw, 200px);    /*  clamp for adjustment when resized  */
    height: clamp(150px, 24vw, 200px);
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}



/*  Skills Section  -----  */
.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    background: #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

section {
    padding: 40px 20px;
}

.info-row {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
}

.info-row section {
    flex: 1;
}

.info-row #about {
    border-left: 3px solid #ddd;
    padding-left: 30px;
}



/*  Project Gallery  -----  */
#projects h2 {
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;

}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-bottom: 30px;
}

.project-item:first-of-type {   /*  remove top border and padding for FIRST item(project)  */
    border-top: none;
    padding-top: 0;
}

.project-item--reverse {
    flex-direction: row-reverse;
}

.project-description {
    flex: 1;
    min-width: 240px;
    padding-inline-start: 8px;
}

.project-description h3 {
    font-size: 1.4em;
    margin-bottom: 14px;
    padding-bottom: 6px;
}

.project-gallery {
    display: flex;
    flex: 1;
    min-width: 260px;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.project-gallery img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .project-item,
    .project-item--reverse {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-row {
        flex-direction: column;
    }
}



/*  Footer  -----  */
footer {
    text-align: center;
    background: #222;
    color: #fff;
    padding: 10px;
}



